<div class="index-container">
  <div class="index">
   
  </div>
  <div class="index">
  
  </div>
  <div class="index">
  
  </div>
</div>



<!-- set up forms and buttons. set up a different css file for buttons -->