<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Al's Record Store</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="menu-container">
<div class="header-container">
<div class="header">
<div class="logo">Big Al's Record Store</div>
</div>
</div>
<div class="menu">
<div class="links">
<a href="/albums">Albums</a>
<a href="/artists">Artists</a>
<a href="/store">Store</a>
    </div>
  </div>
  </div>
  <% yield %>
</body>
</html>