<h1>Useful Links</h1>

<div class="links-container">
 






<ul>
<div class="links-container-item"><a href="http://www.musicweek.com/">Music Week</a></div>
<div class="links-container-item"><a href="http://www.officialcharts.com/">Official Charts</a></div>
<div class="links-container-item"><a href="http://recordcollectormag.com/">Record Collector</a></div>
<div class="links-container-item"><a href="http://www.vinyltap.co.uk/">Vinyl Tap Rare Records</a></div>

</div></ul>