* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  margin-top: 15px;
  display: flex; /* this property lets us know that the selector is flexbox. */
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex ;
  justify-content: space-between;
}

.logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px ;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  
}

