
<h1>Create New Artist</h1>

<div class="form-container-artist">
<form action="/artists" method="post">
  
 
  <div class="label"><label for="name">Artist</label></div>
  <input type="text" required="true" id="name" name="name">
 
  <div class="button-submit"><input type="submit" value="Add This Artist"></div>
</form>

</div>