
<h1>Create New Artist</h1>

<div class="form-style-3">
<form action="/artists" method="post">
  
 <fieldset><legend>New Artist</legend>
  <label for="name"><span>Artist <span class="required">*</span></span><input type="text" class="input-field" id="name" required="true" name="name" ></label>
 </fieldset>
  <fieldset><input type="submit" value="Submit" /></label>
  </fieldset>
</form>

</div>