
<h1>Create New Artist</h1>

<div class="form-container-artist">
<form action="/artist" method="post">
  
 
  <div class="label"><label for="artist">Artist</label></div>
  <input type="text" id="artist" name="artist">
 
  <div class="button-submit"><input type="submit" value="Add This Artist"></div>
</form>

</div>