
<h1>Create New Artist</h1>

<div class="form-container">
<form action="/artist" method="post">
  
 
  <label for="artist">Artist</label>
  <input type="text" id="artist" name="artist">
 
  <input type="submit" value="Add This Artist">
</form>

</div>