<% @album.each do |album| %>
<div class="album-container">
 <p><div id="title">Album Title:</div><div id="title-name"><%= album.title%></div></p>
<p><div id="artist">Artist:</div><div id="artist-name"> <%= album.artist%></div></p>
<p><div id="genre">Genre:</div><div id="genre-name"> <%= album.genre %></div></p>
<p><div id="quantity">Quantity in Stock:</div><div id="quantity-name"> <%= album.quantity%></div></p>
<hr/>
</div>

<% end %>