<div class="create-container">
<% albums_in_stock = [] %>
<% for records in @album %>
<% albums_in_stock.push(records) %>
<% end %>
<p>There are <em><%= albums_in_stock.count %></em> albums in stock right now.</p>
</div>
 


<% @album.each do |album| %>
<ol>
<div class="album-container">

 <div id="album-item"> Album:<em><%= album.title %>&nbsp;&nbsp;&nbsp;</em></div>
<div id="album-item">Artist:<em><%= album.artist.name%>&nbsp;&nbsp;&nbsp;</em></div>
<div id="album-item">Quantity in Stock: <em><%= album.quantity%></em></div>
</ol>

</div>
<% end %>

