<h1>Add a new Album</h1>

<div class="form-container">
<form action="/albums" method="post">
  
 <br><label for="title">Title</label>
  <input type="text" id="title" name="title">
  <br><label for="artist"> Select Artist</label>
  <select name="artist" id="artist">
  <% for artist in @artist %>
  <option value= "<%= artist.id %>"><%=artist.name%></option>
  <% end %>

  </select>

  <br><label for="genre">Select Genre</label>
  <select name="genre" id="genre">

      <option value="Rock">Rock</option>
      <option value="Pop">Pop</option>
      <option value="R&B">R&B</option>
      <option value="Soul">Soul</option>
      <option value="Jazz">Jazz</option> 
      <option value="Bluegrass">Bluegrass</option> 
      <option value="60s Rock">60s Rock</option> 
      <option value="Prog Rock">Prog Rock</option> 
      <option value="Hard Rock">Hard Rock</option> 
      <option value="Folk">Folk</option> 
      <option value="Country">Country</option> 
      <option value="Classical">Classical</option>  
     
  </select>
 
 <br><label for="quantity">Quantity</label>
  <input type="number" id="quantity" name="quantity">

 <br><div class="button-submit"><input type="submit" value="Add This Album!"></div>
</form>
</div>