<h1>The wholesale buying price, RRP and markups are listed below:</h1>

<% @albums.each do |album| %>
<ol>
<div class="album-container">

 <div id="album-item"> Album: &nbsp;<em><%= album.title %>&nbsp;&nbsp;&nbsp;</em></div>
<div id="album-item">Buy Price: £<%= album.buy %>&nbsp;&nbsp;&nbsp;</div>
<div id="album-item">Sell Price: £<%= album.sell %>&nbsp;&nbsp;&nbsp;</div>
<div class="markup-item">MarkUp: £<%= album.sell - album.buy %></div>

</ol>

</div>
<% end %>